@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Tarih</th>
        <th>Vergi Dairesi</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Teslim Detaylar</th>
    </tr>
    @foreach (var f in Model)
    {
        <tr>
            <td>
                @f.FaturaID
            </td>
            <td>
                @f.FaturaSeriNo
            </td>
            <td>@f.FaturaSıraNo</td>
            <td>@f.Tarih</td>
            <td>@f.VergiDairesi</td>
            <td>@f.Saat</td>
            <td>@f.TeslimEden</td>
            <td>@f.TeslimAlan</td>
            <td>@f.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@f.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@f.FaturaID" class="btn btn-success">Fatura Detay</a></td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura</a>


