@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Sayfası</h2>
<br />
<table id="tbl1" class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Detaylar</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.SatisID</td>
            <td>@s.Urun.UrunAD</td>
            <td>@s.Cari.CariAd @s.Cari.CariSoyad</td>
            <td>@s.Personel.PersonelAd @s.Personel.PersonelSoyad</td>
            <td>@s.Adet</td>
            <td>@s.Fiyat</td>
            <td>@s.ToplamTutar</td>
            <td>@s.Tarih</td>
            <td><a href="/Satis/SatisDetay/@s.SatisID" class="btn btn-success">Detaylar</a></td>
            <td><a href="/Satis/SatisGetir/@s.SatisID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Satis/YeniSatis" class="btn btn-primary">Yeni Satış Yap</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

$('#tbl1').dataTable({});

</script>
