@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("k")
        <input type="submit" value="Ara" class="btn btn-primary" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Kodu</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td>@k.TakipKodu</td>
            <td><a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-success">Kargo Detay</a></td>
        </tr>
    }
</table>
<a href="/Kargo/YeniKargo" class="btn btn-primary">Yeni Kargo</a>

