@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<Cari>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cari Sayfası</h2>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CariID</td>
            <td>@c.CariAd</td>
            <td>@c.CariSoyad</td>
            <td>@c.CariSehir</td>
            <td>@c.CariMail</td>
            <td><a href="/Cari/CariSil/@c.CariID"class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@c.CariID"class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Cari/MüsteriSatis/@c.CariID"class="btn btn-success">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Cari/CariEkle" class="btn btn-primary">Yeni Cari Ekle</a>