@model MVCOnlineTicariOtomasyon.Models.Siniflar.SatisHareket

@{
    ViewBag.Title = "SatisYap";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.SatisID)
    @Html.LabelFor(x => x.Urunid)
    <input type="text" name="Urunid" value="@ViewBag.dgr2" class="form-control" readonly/>
    <br />
    @Html.LabelFor(x => x.Personelid)
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Cariid)
    @Html.TextBoxFor(x => x.Cariid, new {@class="form-control"})
    <br />
    @Html.LabelFor(x => x.Adet)
    <input type="number" name="Adet" class="form-control" max="10" min="0" id="txt1" onkeyup="result();" />
    <br />
    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.dgr3" class="form-control" id="txt2" onkeyup="result(); " />
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar"class="form-control" id="txt3" readonly/>
    @*@Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })*@
    <br />
    <button class="btn btn-info">Satış Yap</button>
</form>
<script>
    function result() {
        var sayi1 = document.getElementById("txt1").value;
        var sayi2 = document.getElementById("txt2").value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById("txt3").value = sonuc;
        }
    }
</script>

