@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Sayfası</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.PersonelID</td>
            <td>@p.PersonelAd</td>
            <td>@p.PersonelSoyad</td>
            <td>@p.PersonelGorsel</td>
            <td>@p.Departman.DepartmanAd</td>
            <td><a href="/Personel/PersonelGetir/@p.PersonelID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@p.PersonelID" class="btn btn-success">Satışlar</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Yeni Personel</a>

